.panel-minimize {
    cursor: pointer;
}

.scaffold-filters {
    display: flex;

    .inputs {
        flex: 1 1 90%;
        display: flex;
        flex-wrap: wrap;

        .form-group {
            flex: 0 0 25%;
            padding-right: 16px;

            &:last-child {
                margin-bottom: 20px;
            }

            .el-date-editor.el-input,
            .el-date-editor.el-input__inner {
                width: 100%;
            }

            .el-input__inner.is-active,
            .el-input__inner:focus {
                border: 1px solid #409EFF;
            }

            .el-input__inner {
                border: 1px solid #bcc3d2;
                height: 38px;
            }
        }

        label {
            text-transform: uppercase;
            width: 100%;
            font-weight: 600;
            font-size: 10px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 19px;
        flex: 0 0 10%;

        .btn-clear {
            margin-top: 10px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.batch-options .active {
    color: black;
    text-decoration: line-through;
}